@model GU2_Allswellhospital.Models.BillingInvoice

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>BillingInvoice</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Patient.Forename)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Patient.Forename)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Payment.PaymentMethod)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Payment.PaymentMethod)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PaymentRecived)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PaymentRecived)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TotalDue)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TotalDue)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Treatments)
        </dt>

        @foreach (var item in Model.Treatments)
        {
            <dd>
                @item.DateofTreatment.ToString("dd/MM/yyyy") |
                @item.TreatmentDetails |
                @item.TreatmentCost.ToString("C2")
            </dd>
        }

        <dt>
            @Html.DisplayNameFor(model => model.Prescriptions)
        </dt>


        @foreach (var item in Model.Prescriptions)
        {
            <dd>
                @item.DateofPrescription.ToString("dd/MM/yyyy") |
                @item.Drug.DrugName |
                @item.PrescriptionCost.ToString("C2")
            </dd>
        }
    </dl>
</div>
<p>
    @Html.ActionLink("Back to List", "Index", new { patientid = Model.PatientID })
</p>
