@model GU2_Allswellhospital.Models.BillingInvoice

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>BillingInvoice</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Patient.Forename)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Patient.Forename)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Payment.PaymentMethod)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Payment.PaymentMethod)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PaymentRecived)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PaymentRecived)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TotalDue)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TotalDue)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Treatments)
        </dt>


        @foreach (var item in Model.Treatments)
        {
            <dd>
                @Html.Label(item.DateofTreatment.ToString("dd/MM/yyyy"))
                @Html.Label(item.TreatmentDetails)
                @Html.Label(item.TreatmentCost.ToString("N2")) 
            </dd>
        }

     </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.InvoiceNo }) |
    @Html.ActionLink("Back to List", "Index")
</p>
