@model IEnumerable<GU2_Allswellhospital.Models.BillingInvoice>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@if (ViewBag.ErrorMessage != null)
{
    <p style=" border:dashed; border-color: red; ">
        @( (string)ViewBag.ErrorMessage )
    </p>
}

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Patient.Forename)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Payment.PaymentMethod)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PaymentRecived)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TotalDue)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Patient.Forename)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Payment.PaymentMethod)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PaymentRecived)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalDue)
            </td>
            <td>
                @if (User.IsInRole("MedicalRecordsStaff"))
                {
                    if (item.PaymentRecived == false)
                    {
                        @Html.ActionLink("Make Payment", "MakePayment", new { id = item.InvoiceNo, patientid = (string)ViewBag.patientid })
                    }



                    @Html.ActionLink("Detailed View", "Details", new { id = item.InvoiceNo, patientid = (string)ViewBag.patientid })
                    @Html.ActionLink("Delete", "Delete", new { id = item.InvoiceNo, patientid = (string)ViewBag.patientid })
                }
            </td>
        </tr>
    }

</table>
