@model GU2_Allswellhospital.Models.CreatePaymentViewModel

@{
    ViewBag.Title = "Make Payment";
}

<h2>Make Payment</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.PatientId)
    @Html.HiddenFor(model => model.InvoiceNo)
    @Html.HiddenFor(model => model.InvoiceTotal)

    <div class="form-horizontal">
        <h4>Payment</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        @Html.HiddenFor(model => model.Forename)

        @Html.HiddenFor(model => model.Surname)

        @Html.HiddenFor(model => model.BillingAddress)

        @Html.HiddenFor(model => model.SelectedMethod)

        <div id="Card">
            <script src="//checkout.stripe.com/v2/checkout.js"
                    class="stripe-button"
                    data-key="pk_test_rCjYKii84w528j5vcbqqVI4500zKdyayxv"
                    data-locale="auto"
                    data-description="Sample Charge"
                    data-amount="">
            </script>
        </div>

    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index", new { patientid = Model.PatientId })
</div>
