@model GU2_Allswellhospital.Models.Patient

@{
    ViewBag.Title = "Delete Patient";
}

<h2>Delete Patient</h2>

@if (ViewBag.ErrorMessage != null)
{
    <p style=" border:dashed; border-color: red; ">
        @( (string)ViewBag.ErrorMessage )
    </p>
}

<h3>Are you sure you want to delete this?</h3>
<div>

    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Forename)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Forename)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Surname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Surname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Street)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Street)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Town)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Town)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.City)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.City)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TelNum)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TelNum)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DOB)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DOB)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Occupation)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Occupation)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NextofKinForename)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NextofKinForename)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NextofKinSurname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NextofKinSurname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NextofKinStreet)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NextofKinStreet)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NextofKinTown)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NextofKinTown)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NextofKinCity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NextofKinCity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NextofkinTelNum)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NextofkinTelNum)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
