
@{
    ViewBag.Title = "Medical Records Index";
}

<h2 class="text-center">Medical Records Index</h2>

@if (Request.IsAuthenticated)
{
    <button class="btn-block btn-primary" onclick="window.location.href = '@Url.Action("Index","PatientManagement")';" style="position: center">Patient Management</button><br />

    <button class="btn-block btn-primary" onclick="window.location.href = '@Url.Action("Index","AdmissionManagement")';" style="position: center">Admission Management</button><br />

    <button class="btn-block btn-primary" onclick="window.location.href = '@Url.Action("Index","PaymentManagement")';" style="position: center">Admission Management</button><br />
}
else
{
    @Html.AntiForgeryToken()
    Response.Redirect("~/Home/Index");
}

<p>
    @Html.ActionLink("Back to Main", "StaffHome", "StaffHome")
</p>