@model GU2_Allswellhospital.Models.Treatment

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Treatment</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Doctor.Forename)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Doctor.Forename)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Patient.Forename)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Patient.Forename)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateofTreatment)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateofTreatment)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TreatmentDetails)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TreatmentDetails)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TreatmentCost)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TreatmentCost)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.TreatmentNo, patientid = Model.PatientID }) |
    @Html.ActionLink("Back to List", "Index", new { patientid = Model.PatientID })
</p>
