@model IEnumerable<GU2_Allswellhospital.Models.Treatment>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@if(User.IsInRole("Consultant") || User.IsInRole("StaffNurse") || User.IsInRole("Nurse") || User.IsInRole("Doctor"))
{
<p>
    @Html.ActionLink("Create New", "Create", new { patientid = (string)ViewBag.patientid })
</p>
}

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Doctor.Forename)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Patient.Forename)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateofTreatment)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TreatmentDetails)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TreatmentCost)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Doctor.Forename)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Patient.Forename)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateofTreatment)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TreatmentDetails)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TreatmentCost)
        </td>
        <td>
            @if (User.IsInRole("Consultant") || User.IsInRole("StaffNurse") || User.IsInRole("Nurse") || User.IsInRole("Doctor"))
            {
                @Html.ActionLink("Edit", "Edit", new { id = item.TreatmentNo, patientid = (string)ViewBag.patientid })

                @Html.ActionLink("Details", "Details", new { id = item.TreatmentNo, patientid = (string)ViewBag.patientid })

                @Html.ActionLink("Delete", "Delete", new { id = item.TreatmentNo, patientid = (string)ViewBag.patientid })
            }
        </td>
    </tr>
}

</table>
