@model IEnumerable<GU2_Allswellhospital.Models.Ward>

@{
    ViewBag.Title = "Ward Management";
}

<h2>Ward Management</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.WardName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.WardCapacity)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.WardName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.WardCapacity)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.WardNo }) |
            @Html.ActionLink("Details", "Details", new { id=item.WardNo }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.WardNo })
        </td>
    </tr>
}

</table>
