<!DOCTYPE html>
@using Microsoft.AspNet.Identity
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - AllswellHospital</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
        <div class="container">
            <img src="~/favicon.ico" class="d-inline-block align-content-start" width="30" height="30"/>
            <a class="navbar-brand" href="~/Home/Index">Allswellhospital</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="~/Home/Index">Home</a>
                        <span class="sr-only">(current)</span>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="~/Home/About">About Us</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="~/Home/Advice">Advice</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="~/Home/Treatments">Treatments</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="~/Home/Contact">Contact</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>@DateTime.Now.Day / @DateTime.Now.Month / @DateTime.Now.Year - AllsWellHospital</p>
            <br />
            <p>@Html.ActionLink("Staff Access", "Login", "Account")</p>

            @if (Request.IsAuthenticated)
            {
                
                using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
                {
                    @Html.AntiForgeryToken()

                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <p>Hello @User.Identity.GetUserName() !</p>
                        </li>
                        <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
                    </ul>
                }

            }

        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
