@model IEnumerable<GU2_Allswellhospital.Models.Prescription>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@if (User.IsInRole("Consultant") || User.IsInRole("StaffNurse") || User.IsInRole("Nurse") || User.IsInRole("Doctor"))
{
    <p>
        @Html.ActionLink("Create New", "Create", new { patientid = (string)ViewBag.patientid })
    </p>
}

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Doctor.Forename)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Patient.Forename)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DrugNo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Dosage)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PrescriptionCost)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LengthofTreatment)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateofPrescription)
        </th>
        <th></th>
    </tr>

        @foreach (var item in Model)
        {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Doctor.Forename)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Patient.Forename)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Drug.DrugName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Dosage)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PrescriptionCost)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LengthofTreatment)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateofPrescription)
        </td>
        <td>
            @if (User.IsInRole("Consultant") || User.IsInRole("StaffNurse") || User.IsInRole("Nurse") || User.IsInRole("Doctor"))
            {

                @Html.ActionLink("Edit", "Edit", new { id = item.PrescriptionNo, patientid = (string)ViewBag.patientid })
                @Html.ActionLink("Details", "Details", new { id = item.PrescriptionNo, patientid = (string)ViewBag.patientid })
                @Html.ActionLink("Delete", "Delete", new { id = item.PrescriptionNo, patientid = (string)ViewBag.patientid })

            }
        </td>
    </tr>
        }

    </table>
