@model IEnumerable<GU2_Allswellhospital.Models.Prescription>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Drug.DrugDetails)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Patient.Forename)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Treatment.TreatmentDetails)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Dosage)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LengthofTreatment)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateofPrescription)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IssuedByID)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Drug.DrugDetails)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Patient.Forename)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Treatment.TreatmentDetails)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Dosage)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LengthofTreatment)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateofPrescription)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IssuedByID)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.PrescriptionNo }) |
            @Html.ActionLink("Details", "Details", new { id=item.PrescriptionNo }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.PrescriptionNo })
        </td>
    </tr>
}

</table>
